In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./중고차데이터최종v8.csv", encoding="cp949")

In [3]:
df

,Unnamed: 0,index,이름,제조회사,모델명,세부모델,가격,배기량,연식,색상,...,생산지,신차가격,감가상각률,감가상각액,현재가,1년후,2년후,3년후,4년후,5년후
0,0,0,쌍용 티볼리 LX 2WD 세부등급 없음,쌍용,티볼리,티볼리,1360,1597,2017,진주색,...,국산차,2050,7.9,162,1888,1726,1564,1402,1240,1078
1,1,1,기아 올 뉴 모닝 럭셔리,기아,모닝,올 뉴 모닝 (11~15년),670,998,2012,진주색,...,국산차,1300,6.8,88,1212,1124,1036,948,860,772
2,2,2,쉐보레(GM대우) 알페온 EL300 슈프림,쉐보레,알페온,알페온,900,2997,2012,은색,...,국산차,3600,8.3,299,3301,3002,2703,2404,2105,1806
3,3,3,쌍용 렉스턴 스포츠 디젤 2.2 4WD 노블레스,쌍용,렉스턴,렉스턴 스포츠 칸,2420,2157,2019,쥐색,...,국산차,3250,-1.0,-1,-1,-1,-1,-1,-1,-1
4,4,4,쉐보레(GM대우) 더 뉴 말리부 1.3 터보 프리미어 세부등급없음,쉐보레,말리부,더 뉴 말리부,2240,1341,2021,검정색,...,국산차,3150,10.8,340,2810,2470,2130,1790,1450,1110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14552,14552,14552,아우디 S4,아우디,S4,S4,1330,2995,2011,0색,...,외제차,8000,7.3,584,7416,6832,6248,5664,5080,4496
14553,14553,14553,기아 스포티지R,기아,스포티지,스포티지R (10~13년),800,1995,2011,검정색,...,국산차,2500,8.5,213,2287,2074,1861,1648,1435,1222
14554,14554,14554,폭스바겐 티구안(1세대),폭스바겐,티구안,티구안 1세대,1030,2000,2014,흰색,...,외제차,4290,9.2,395,3895,3500,3105,2710,2315,1920
14555,14555,14555,제네시스 EQ900,제네시스,제네시스,EQ900,3390,5038,2016,검정색,...,국산차,9000,13.6,1224,7776,6552,5328,4104,2880,1656
14556,14556,14556,현대 에쿠스(신형),현대,에쿠스,뉴 에쿠스,1680,3778,2015,검정색,...,국산차,8000,8.7,696,7304,6608,5912,5216,4520,3824

In [6]:
df_model = df.groupby('세부모델').mean()

In [8]:
df_model.to_csv("./model.csv")

In [9]:
pd.read_csv("./model.csv")

,세부모델,Unnamed: 0,index,가격,배기량,연식,주행거리,압류/저당,사고유무,전손이력,신차가격,감가상각률,감가상각액,현재가,1년후,2년후,3년후,4년후,5년후
0,124,11133.000000,11133.000000,3580.000000,1356.00,2017.000000,16784.000000,0.0,1.000000,0.0,3100.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,1시리즈 2세대 (12~19년),9270.208333,9270.208333,1538.041667,1995.00,2015.291667,87908.291667,0.0,0.125000,0.0,4370.0,9.7,424.0,3946.0,3522.0,3098.0,2674.0,2250.0,1826.0
2,1시리즈 3세대 (20년~현재),3936.400000,3936.400000,3786.000000,1997.40,2020.800000,8569.600000,0.0,0.200000,0.0,4200.0,9.7,407.0,3793.0,3386.0,2979.0,2572.0,2165.0,1758.0
3,2008,10965.461538,10965.461538,1003.923077,1560.00,2016.076923,89422.615385,0.0,0.076923,0.0,3113.0,11.4,355.0,2758.0,2403.0,2048.0,1693.0,1338.0,983.0
4,207,6838.500000,6838.500000,547.250000,1598.00,2011.000000,90632.250000,0.0,0.000000,0.0,3410.0,7.6,259.0,3151.0,2892.0,2633.0,2374.0,2115.0,1856.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,프리우스,12277.500000,12277.500000,1375.000000,1647.50,2013.500000,104839.000000,0.0,0.000000,0.0,3712.0,8.1,301.0,3411.0,3110.0,2809.0,2508.0,2207.0,1906.0
622,프리우스 4세대,4053.000000,4053.000000,2347.500000,1722.75,2018.000000,59788.250000,0.0,0.000000,0.0,3600.0,8.1,292.0,3308.0,3016.0,2724.0,2432.0,2140.0,1848.0
623,플라잉스퍼 1세대,12536.000000,12536.000000,4650.000000,6000.00,2010.000000,92347.000000,0.0,0.000000,0.0,29000.0,7.7,2233.0,26767.0,24534.0,22301.0,20068.0,17835.0,15602.0
624,플라잉스퍼 2세대,11251.000000,11251.000000,12150.000000,3993.00,2016.000000,45774.000000,0.0,0.000000,0.0,26500.0,7.7,2041.0,24459.0,22418.0,20377.0,18336.0,16295.0,14254.0
625,휘가로,11155.000000,11155.000000,2500.000000,1000.00,1991.000000,86670.000000,0.0,0.000000,0.0,4000.0,1.2,48.0,3952.0,3904.0,3856.0,3808.0,3760.0,3712.0

In [11]:
df['제조회사'].value_counts().index

Index(['현대', '기아', '쉐보레', '르노삼성', '쌍용', '제네시스', 'BMW', '벤츠', '아우디', '폭스바겐',
       '미니', '지프', '포드', '볼보', '랜드로버', '푸조', '재규어', '렉서스', '링컨', '인피니티', '혼다',
       '도요타', '포르쉐', '닛산', '캐딜락', '대형트럭(2톤이상)', '마세라티', '시트로엥', '토요타', '크라이슬러',
       '피아트', '대형버스(16인승이상)', '테슬라', '닷지', '미쯔비시', '북기은상', '스마트', '벤틀리',
       '애스턴마틴', '롤스로이스', '선롱', '람보르기니', '험머'],
      dtype='object')